*.pidb
*.resources
*.dll
*.dll.mdb
CardTerminals.Tests/bin/Debug/
.gitignore~
*.userprefs
*.user
*~
tmp/
/_ReSharper.*
/.vs/
/CardTerminalLibrary/obj/
/CardTerminalLibrary/bin/
/CardTerminals.Tests/obj/
/CardTerminals.Tests/bin/
/*.suo
/CardTerminalLibrary/binaries
