*.pidb
*.resources
*.dll
*.dll.mdb
CardTerminals.Tests/bin/Debug/
.gitignore~
*.userprefs
*.csproj
*~
tmp/
/_ReSharper.CardTerminals
/.vs/CardTerminals/v16
/CardTerminalLibrary/obj/Debug
/CardTerminals.Tests/obj/Debug
/CardTerminalLibrary/bin/Debug
/*.suo
