<Config>
	<!-- Use Serial Port-->
	<Transport>Serial</Transport>
	<TransportSettings>
		<Port>COM11</Port>
		<BaudRate>9600</BaudRate>
		<Parity>None</Parity>
		<StopBits>One</StopBits>
	</TransportSettings>

	<!-- Use Network connection -->
	<!--<Transport>Network</Transport>-->
	<!--<TransportSettings>
		<RemoteIP>192.168.1.1</RemoteIP>
		<RemotePort>51234</RemotePort>
		</TransportSettings>-->

	<RegistrationCommand>
		<ECRPrintsAdministrationReceipts>True</ECRPrintsAdministrationReceipts>
		<ECRPrintsPaymentReceipt>True</ECRPrintsPaymentReceipt>
		<PTDisableAmountInput>True</PTDisableAmountInput>
		<PTDisableAdministrationFunctions>False</PTDisableAdministrationFunctions>
	</RegistrationCommand>
	
	<Report>
		<PrintSystemInfo>True</PrintSystemInfo>
		<PrintReport>False</PrintReport>
		</Report>
	
	<Reversal>
		<ReceiptNr>0</ReceiptNr>
	</Reversal>

	<Payment>
		<Amount>1</Amount>
	</Payment>
	
	<RepeatReceipt>
		<DontPrint>False</DontPrint>
		<EnableStatusInformation>True</EnableStatusInformation>
	</RepeatReceipt>
</Config>

